<div class="span12">
    <div class="pie-de-pagina">
        <div class="cr">
            © 2012, Juan David Rodríguez
        </div>
        <div class="powered">
            <span style="font-style: italic">powered by</span>
            <img src="{{ asset("bundles/jamnotasfrontend/images/php-logo.jpg") }}"/>
            <img src="{{ asset("bundles/jamnotasfrontend/images/logo.png") }} "/>
            <img src="{{ asset("bundles/jamnotasfrontend/images/jquery_logo.png") }} "/>
            <img src="{{ asset("bundles/jamnotasfrontend/images/bootstrap-logo.png") }} "/>

        </div>
    </div>
</div>
