<ul class="nav">
    <li class="nav-header">Temas</li> 

    <select id="select_temas">
        {% for tema in temas %}
        <option id="{{  tema.id }}">{{ tema.nombre }}</option>
        {% endfor %}        
    </select>
</ul>